{{ form_start(form) }}

{{ form_row(form.name)}}
{{ form_row(form.description)}}

<div class="mt-5">
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	<a href="{{ path('home') }}" class="btn btn-dark mx-2">Annuler</a>
</div>

{{ form_end(form) }}
