<nav id="menu-nav" class="navbar navbar-expand bg-dark navbar-dark">

	<div class="container">

		<a href="{{path('home')}}" class="navbar-brand d-none d-sm-block">SnowTricks</a>

		<ul class="navbar-nav w-100 justify-content-around justify-content-sm-start">

			<li class="nav-item">
				<a href="{{path('home')}}" class="nav-link d-none d-sm-block">Accueil</a>
				<a href="{{path('home')}}" class="nav-link d-sm-none">
					<i class="bi bi-grid-3x3-gap-fill"></i>
				</a>
			</li>
			{% if app.user %}
				<li class="nav-item d-sm-none">
					<a href="#" class="nav-link">
						<i class="bi bi-person-circle"></i>
					</a>
				</li>

				<li class="nav-item d-sm-none">
					<a href="{{path('user_logout')}}" class="nav-link">
						<i class="bi bi-door-open-fill"></i>
					</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a href="{{path('user_login')}}" class="nav-link d-none d-sm-block">Connexion</a>
					<a href="{{path('user_login')}}" class="nav-link d-sm-none">
						<i class="bi bi-person-fill"></i>
					</a>
				</li>

				<li class="nav-item">
					<a href="{{path('user_register')}}" class="nav-link d-none d-sm-block">Inscription</a>
					<a href="{{path('user_register')}}" class="nav-link d-sm-none">
						<i class="bi bi-person-plus-fill"></i>
					</a>
				</li>
			{% endif %}

		</ul>

		{% if app.user %}
			<div class="dropdown text-end d-none d-sm-block">
				<a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="{{asset('pictures/' ~ app.user.pictureProfile.name)}}" alt="mdo" width="32" height="32" class="rounded-circle">
				</a>

				<ul class="dropdown-menu text-small " aria-labelledby="dropdownUser1" style="">
					<li>
						<a class="dropdown-item" href="{{path('trick_new')}}">New Trick...</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Settings</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{path('user_profile')}}">Profile</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="{{path('user_logout')}}">Déconexion</a>
					</li>
				</ul>
			</div>
		{% endif %}

	</div>
</nav>
