{% extends "base.html.twig" %}

{% block title %}
	{{trick.name}}
{% endblock %}

{% block body %}
	<div class="container">


		<div class="trickHeader">

			{% if app.user %}

				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }} alert-dismissible fade show m-1" role="alert">
							{{ message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if app.user == trick.user %}
					<div class="trickHeader__options">
						<a href="{{path('trick_edit', {id: trick.id})}}" class="btn btn-primary mx-1">
							<i class="bi bi-pencil-fill"></i>
						</a>
						<a href="{{path('trick_delete', {id:trick.id})}}" class="btn btn-primary mx-1">
							<i class="bi bi-trash-fill"></i>
						</a>
					</div>
				{% endif %}
			{% endif %}

			{% if trick.mainPicture  %}
				<img class="trickHeader__mainPicture" src="{{asset('pictures/' ~ trick.mainPicture.name)}}" alt="">
			{% endif %}

		</div>

		{% include "trick/_parts/_show_trick.html.twig" %}


		{% if app.user %}
			<div class="my-3 p-3 bg-body rounded">
				{{ form_start(form) }}
				{{ form_row(form.content)}}

				<button type="submit" class="btn btn-primary col-12 col-lg-1 mt-2">Envoyer</button>

				{{ form_end(form) }}
			</div>
		{% endif %}

		<div class="my-3 p-3 bg-body rounded" id="comments">
			<h6 class="border-bottom pb-2 mb-0">Commentaires récents</h6>
			{% if trick.comments.count == 0 %}
				<p>Aucun commentaires pour l'instant !</p>
			{% endif %}
			{% for comment in comments %}

				<div class="d-flex text-muted pt-3">

					<img src="{{asset('pictures/' ~ comment.user.pictureProfile.name)}}" alt="mdo" width="32" height="32" class="bd-placeholder-img flex-shrink-0 me-2 rounded">

					<p class="pb-3 mb-0 small lh-sm border-bottom w-100">
						<strong class="d-block text-gray-dark pb-1">@{{comment.user.firstname}}
							{{comment.user.lastname}}
							-
							{{comment.updatedAt| date("d/m/Y")}}</strong>
						{% if comment.valid == 1 %}
							<i>Ce commentaire a été masqué par l'administration !</i>
						{% else %}
							{{comment.content}}
						{% endif %}
					</p>
				</div>
			{% endfor %}

			{% if nbPages > 0 %}
				<nav aria-label="..." class="pt-5">
					<ul class="pagination pagination-sm justify-content-center">

						{% if nbPages > 1 %}

							{% for i in 1..nbPages %}

								<li class="{% if currentPage == loop.index %}disabled{% endif %} page-item mb-5">
									<a class="page-link" href="{{ path('trick_show', {'slug': trick.slug, 'page': loop.index }) }}#comments">{{ loop.index }}</a>
								</li>
							{% endfor %}
						{% endif %}
					</ul>
				</nav>
			{% endif %}
		</div>

	</div>
{% endblock %}
