{% extends "base.html.twig" %}

{% block title %}
	{{trick.name}}
{% endblock %}

{% block body %}
	<div class="container">


		<div class="trickHeader">

			{% if app.user %}
				<div class="trickHeader__options">
					<a href="{{path('trick_edit', {id: trick.id})}}" class="btn btn-primary mx-1">
						<i class="bi bi-pencil-fill"></i>
					</a>
					<a href="{{path('trick_delete', {id:trick.id})}}" class="btn btn-primary mx-1">
						<i class="bi bi-trash-fill"></i>
					</a>
				</div>
			{% endif %}

			{% if trick.mainPicture  %}
				<img class="trickHeader__mainPicture" src="{{asset('pictures/' ~ trick.mainPicture.name)}}" alt="">
			{% endif %}

		</div>

		<div class="mt-3">
			<h1 class="text-uppercase">{{trick.name}}</h1>
			<h4>
				Catégorie :
				{% if trick.category %}
					{{trick.category.name}}
				{% else %}
					unknow
				{% endif %}
			</h4>

			<ul class="list-inline">
				<li class="list-inline-item">Par : Admin</li>
				|
				<li class="list-inline-item">
					Ajouté le
					{{trick.createdAt | date("d/m/Y")}}
					(Mise a jour le :
					{{trick.updatedAt| date("d/m/Y")}})
				</li>
				|
				<li class="list-inline-item">
					<a href="#comments">{{trick.comments.count}}
						commentaires</a>
				</li>
			</ul>
		</div>


		<div class=" mb-4 mt-5 p-3 bg-light rounded-3">
			{{trick.description}}
		</div>


		<div class="trickMedias">
			{% for picture in trick.pictures %}

				<img src="{{asset('pictures/' ~ picture.name)}}" alt="" class="trickMedias__picture">

			{% endfor %}

			{% for video in trick.videos %}
				<iframe class="trickMedias__video" frameborder="0" type="text/html" src="{{ video.link }}" width="300" height="200" allowfullscreen></iframe>
			{% endfor %}
		</div>


		<div class="text-center">
			<a href="#" id="loadMedia" class="d-md-block d-lg-none">
				<button class="btn btn-outline-secondary">Afficher les médias</button>
			</a>
			<a href="#" id="hideMedia" class="d-md-none d-lg-none d-none">
				<button class="btn btn-outline-secondary mt-3">Masquer les médias</button>
			</a>
		</div>


		{% if app.user %}
			<div class="my-3 p-3 bg-body rounded shadow-sm ">
				{{ form_start(form) }}
				{{ form_row(form.content)}}
				<div class="mt-5">
					<button type="submit" class="btn btn-primary">Envoyer</button>
				</div>
				{{ form_end(form) }}
			</div>
		{% endif %}

		<div class="my-3 p-3 bg-body rounded shadow-sm" id="comments">
			<h6 class="border-bottom pb-2 mb-0">Commentaires récents</h6>
			{% for comment in trick.comments %}

				<div class="d-flex text-muted pt-3">

					<img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="bd-placeholder-img flex-shrink-0 me-2 rounded">

					<p class="pb-3 mb-0 small lh-sm border-bottom w-100">
						<strong class="d-block text-gray-dark pb-1">@{{comment.user.firstname}}
							{{comment.user.lastname}}
							-
							{{comment.updatedAt| date("d/m/Y")}}</strong>
						{{comment.content}}
					</p>
				</div>

			{% endfor %}
			<small class="d-block text-end mt-3">
				<a href="#">Tous les commentaires</a>
			</small>
		</div>

	</div>
{% endblock %}
